table {
  width: 95%;
  margin: auto;
  margin-bottom: 2em;
  table-layout: fixed;
  word-wrap: break-word;
  text-align: center !important;
 }

.tablesearch {
  width: 100%;
  min-height: 64px;
  padding: 1em 24px 0;
}

.mat-row:nth-child(odd) {
  background-color: rgba(235, 235, 235, 0.397);
}

.mat-header-cell{
  background-color: #0077ff36;

}

th, td {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}
