<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- footer -->
<mat-toolbar class="footer">
  <span class="footer-content">
    <button mat-button (click)="openImpressum()">Impressum</button>
    <mat-divider vertical="true" class="divider"></mat-divider>
    <button mat-button (click)="openDatenschutz()">Datenschutz</button>
    <mat-divider vertical="true" class="divider"></mat-divider> <!-- Additional divider -->
    <a mat-button href="mailto:ddi@eti.uni-siegen.de">Feedback</a> <!-- Additional button for feedback -->
  </span>
</mat-toolbar>
