::ng-deep .tooltip-inner {
  background-color:  #4286f4f3;
  color: #fff;
}
.content-has-text-centered
{
  margin-top: 1em;
  text-align: center;
}
.text-right
{
  position:absolute;
  text-align: right;
}

mat-toolbar{
  color:black;
  height: fit-content;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  padding:16px;
  contain: content;
  overflow-y: scroll;
  scrollbar-width: thin;

  font-size: 14px;
  color: lightgrey;
  border-radius: 10px;

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;

  mat-icon {
      margin-right: 8px;
  }
}

.mat-divider {
  margin-top:16px;
  margin-bottom: 16px;
  background-color: lightgrey;
}

.footer {
  height: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:x-small;
  color: #434c5e
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 5px; /* Abstand zwischen den Elementen */
}

.divider {
  height: 10px; /* Höhe des Trenners */
  margin: 0 5px; /* horizontaler Abstand zum Rest des Inhalts */
}
