<img src="../../assets/logotransparent.png" />

<div class="upload">
  <app-file-upload></app-file-upload>
</div>

<mat-card style="width: 30vw; margin: auto; margin-top:1em;">
  <mat-card-header>
    <mat-card-title>FJM</mat-card-title>
  </mat-card-header>
  <button style="margin: 0.5em;" mat-raised-button (click)="toFJM('Buecher')">
    Zur Bücher Datenbank</button
  >
  <button style="margin: 0.5em;" mat-raised-button (click)="toFJM('Mitarbeiter')">
    Zur Mitarbeiter Datenbank</button
  >
  <button style="margin: 0.5em;" mat-raised-button (click)="toFJM('Arztpraxis')">
    Zur Arztpraxis Datenbank</button
  >

  <button style="margin: 0.5em;" mat-raised-button (click)="toFJM('Fussball')">
    Zur Fußball Datenbank</button
  >

  <mat-card-content> </mat-card-content>
  <mat-card-actions
    ><p>Hier üben wir SQL Datenbankabfragen</p>
    <p>Anleitung zur Bedienung (für die, die gefehlt haben): <a href="https://www.youtube.com/watch?v=HnQTd5yW6DI" target="_blank">YouTube</a></p>
  </mat-card-actions>
</mat-card>


<mat-card *ngIf="db_detected" style="width: 30vw; margin: auto">
  <mat-card-header>
    <mat-card-title>Weiterarbeiten</mat-card-title>
  </mat-card-header>
  <button mat-raised-button (click)="tostart()">
    Zurück zu meiner Datenbank</button
  ><br />

  <mat-card-content> </mat-card-content>
  <mat-card-actions
    ><p>Kehre zu der von Ihnen hochgeladenen Datenbank zurück.</p>
  </mat-card-actions>
</mat-card>


<a type="button" class="btn btn-primary btn-lg" href="https://github.com/SvenJacobsUni/sqhelper" target="_blank">
  <i class="fab fa-github"></i> Open Source <i class="fab fa-docker"></i>
</a>



