<a type="button" class="btn btn-default btn-lg" href="https://github.com/SvenJacobsUni/sqhelper" target="_blank">
  <i class="fab fa-github"></i> Source <i class="fab fa-docker"></i>
</a>
<img src="../../assets/logotransparent.png" />

<div class="upload">
  <app-file-upload></app-file-upload>
</div>

<mat-card *ngIf="db_detected" style="width: 30vw; margin: auto">
  <mat-card-header>
    <mat-card-title>Weiterarbeiten</mat-card-title>
  </mat-card-header>
  <button mat-raised-button (click)="tostart()">
    Zurück zu meiner Datenbank</button
  ><br />

  <mat-card-content> </mat-card-content>
  <mat-card-actions
    ><p>Mach einfach da weiter, wo du aufgehört hast.</p>
  </mat-card-actions>
</mat-card>


  <div class="video-container-wrapper">
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/ElpS0_KeAqM"
        width="300"
        height="150"
        frameborder="0"
        allowfullscreen="allowfullscreen"
      ></iframe>
    </div>
  </div>


