#inline{display:flex;padding-top: 0.5em;}
.one{display: inline-block; padding-right: 0.7em; margin-top:0.6em; font-size: larger; }
.two{display: inline-block; margin-top:0.6em; font-size: larger;}

#kleinerButton
{
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
