.btn-circle.btn-xl {
  width: auto;
  height: auto;
  padding: 10px 10px;
  border-radius: 35px;
  font-size: 18px;
  line-height: 1.33;
  position: absolute;
  left: 1em;
  top: 1em;
  font-size:11px;
}

.fa-home:before {
  content: "\f015";
  color:  rgb(243, 243, 243);
  font-size: clamp(1rem, 0.1892rem + 2.1622vw, 2rem);
}
